---
import MainLayout from "../../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
MainLayout;
export async function getStaticPaths() {
  const employeeData = await fetch("https://raw.githubusercontent.com/snotbroder/frontend-design/main/resources/json/employees.json").then((res) => res.json());

  return employeeData.map((employee) => {
    return {
      params: { slug: employee.slug },
      props: { myData: employee },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<MainLayout sitetitle={myData.name}>
  <section class="content">
    <article class="grid1-2">
      <figure class="imgcontainer">
        <img src={myData.img} alt="" />
      </figure>
      <div class="txtcontainer flow">
        <div class="lead">
          <div>
            <h4>{myData.name}</h4>
            <p>{myData.title}</p>
          </div>
          <hr />
          <div class="socials">
            <Icon name="facebook" />
            <Icon name="fullInstagram" />
            <Icon name="fullTwitter" />
            <Icon name="fullLinkedin" />
          </div>
        </div>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p>
        <hr />
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </article>
  </section>
</MainLayout>

<style>
  figure {
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: var(--space-s);
    }

    /* prikker */
    &::before {
      --square-count: 15;
      --square-size: 1.34rem;

      --_square-size: var(--square-size, 1rem);
      --_square-half: calc(var(--square-size) / 2);
      --_square-sum: calc(var(--square-count) * var(--square-size));
      z-index: -1;
      content: "";
      position: absolute;
      top: -3rem;
      left: -6rem;
      /* inset: 0 2rem auto auto; */

      inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
      aspect-ratio: 1;
      background: linear-gradient(135deg, #be965d, #976f40, #c99b61, #f0be7b, #ffcb85, #eebc79, #c0935b, #976f40) 0 0 / 100% 100%;
      mask:
        var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
        var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
    }

    /* grøn boks */
    &::after {
      content: "";
      position: absolute;
      left: -1.5rem;
      top: -1.5rem;
      background: var(--color-primary-02);
      width: 150px;
      height: 120px;
      border-radius: 20px;
      z-index: -1;
    }
  }

  .lead {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    justify-content: center;
    hr {
      height: 0;
      width: 2rem;
      margin: auto;
      transform: rotate(90deg);
      border: 1px var(--color-secondary-04) solid;
    }
    .socials {
      display: flex;
      justify-content: space-between;
      height: 1.5rem;
      gap: var(--space-s);
      margin-right: var(--space-xl);
    }
  }
  hr {
    border: 0.5px var(--color-secondary-04) solid;
  }
</style>
