:root {
  /* Typography sizes */
  --step--2: clamp(0.6944rem, 0.6341rem + 0.3019vw, 0.5681rem);
  --step--1: clamp(0.8333rem, 0.7609rem + 0.3623vw, 0.8rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1rem);
  --step-1: clamp(1.2rem, 1.0957rem + 0.5217vw, 1.5rem);
  --step-2: clamp(1.44rem, 1.3148rem + 0.6261vw, 1.8rem);
  --step-3: clamp(1.728rem, 1.5777rem + 0.7513vw, 2.16rem);
  --step-4: clamp(2.0736rem, 1.8933rem + 0.9016vw, 2.592rem);
  --step-5: clamp(2.4883rem, 2.2719rem + 1.0819vw, 3.1104rem);

  /* Spacing sizes */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  --space-xlarge-s: clamp(18px, -27.913px + 14.3478vw, 150px);

  /* One-up pairs */
  /* --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem); */

  /* Colors */
  --color-primary-01: #ffcc4a;
  --color-primary-02: #4eaf4e;
  --color-primary-03: #181818;
  --color-secondary-01: #f5f5f5;
  --color-secondary-01-70: #f5f5f5c3;
  --color-secondary-02: #ffffff;
  --color-secondary-03: #595566;

  h1 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-5);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }
  h2 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-4);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }
  h3 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-3);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }
  h4 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-2);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }
  h5 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-1);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }
  h6 {
    color: var(--color-primary-03);
    font-family: "Cabin", sans-serif;
    font-size: var(--step-0);
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 58px */
  }

  p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    color: var(--color-secondary-03);
    font-size: var(--step-0);
  }

  li {
    font-family: "Cabin", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 214.5%;
    color: var(--color-secondary-03);
    font-size: var(--step-0);
  }

  /* Basic grids */
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-m);
  }
  .grid2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-m);
  }
  .grid1-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--space-m);
  }

  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Flow space */
  /* > * + * {
    margin-top: var(--flow-space, 0.5rlh);
  }

  h2 {
    --flow-space: 1.5rlh;
  }

  h3,
  h4,
  h5,
  h6 .feature {
    --flow-space: 1.3rlh;
  }

  .feature + *,
  figure + * {
    --flow-space: 1lh;
  } */
  /* SVG */
  --checkmark-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%234EAF4E" d="M176.49 95.51a12 12 0 0 1 0 17l-56 56a12 12 0 0 1-17 0l-24-24a12 12 0 1 1 17-17L112 143l47.51-47.52a12 12 0 0 1 16.98.03M236 128A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108m-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84"/></svg>');
  --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
  input {
    background: var(--color-secondary-02);
    margin-bottom: var(--space-s);
    font-size: var(--step--2);
    padding: var(--space-2xs);
    padding-left: 1.5rem;
    width: 100%;
    border-radius: 40px;
  }
  section {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }

  --hover: 0% var(--space-3xs);
  --hovertrans: all 0.2s ease;
  --hoverdefault: all 0.1s ease;
}

body {
  /* Flowspace */
  .content > * + * {
    /* margin-block-start: var(--space-m); */
    margin-block-start: var(--flow-space, var(--space-m));

    h2 + h3 {
      --flow-space: var(--space-s);
    }
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }

  /* CHecklist */
  .check-list {
    padding-left: 0rem;
    ul {
      list-style: none;
    }
    li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
      color: #595566;
    }

    li:before {
      content: "";
      width: 1.6rem;
      aspect-ratio: 1;
      background: var(--checkmark-icon) 50% 50% / contain no-repeat;
    }
  }
}
