---
import HeadComponent from "../components/HeadComponent.astro";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
Tag;
MainLayout;
---

<MainLayout>
  <HeadComponent img="/public/images/about.png" headline="Creative Services For Boost Your Business Growth" tagContent="SERVICES" />
  <section class="content">
    <Tag color="green" tagContent="OUR VISION" />
    <div class="grid1-1">
      <div class="txtcontent">
        <h3>Turn your ideas into reality.</h3>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <ul class="check-list">
          <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
          <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
      </div>
      <div class="imgcontainer">
        <img src="/public/images/teamwork.png" alt="" />
      </div>
    </div>
    <div class="stats">
      <ul>
        <li>1128+</li>
        <li>Succsessful Work</li>
      </ul>
      <ul>
        <li>908+</li>
        <li>Team members</li>
      </ul>
      <ul>
        <li>258+</li>
        <li>Happy Customers</li>
      </ul>
      <ul>
        <li>564+</li>
        <li>Creative Ideas</li>
      </ul>
    </div>
  </section>
</MainLayout>

<style>
  section {
    img {
      border-radius: 20px;
    }
  }
  .stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    ul {
      list-style: none;

      li {
        color: var(--color-primary-03);
      }

      :first-child {
        font-size: var(--step-2);
        font-weight: 700;
      }
      :last-child {
        font-size: 18px;
      }
    }
  }
</style>
