---
import HeadComponent from "../components/HeadComponent.astro";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Values from "../components/Values.astro";
import { Icon } from "astro-icon/components";

const employeeData = await fetch("https://raw.githubusercontent.com/snotbroder/frontend-design/main/resources/json/employees.json").then((res) => res.json());
---

<MainLayout>
  <HeadComponent img="/public/images/about.png" headline="Creative Services For Boost Your Business Growth" tagContent="SERVICES" />
  <section class="content">
    <Tag color="green" tagContent="OUR VISION" />
    <div class="grid1-1">
      <div class="txtcontent">
        <h3>Turn your ideas i nto reality.</h3>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <ul class="check-list">
          <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
          <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
      </div>
      <div class="imgcontainer">
        <img src="/public/images/teamwork.png" alt="" />
      </div>
    </div>
    <div class="stats">
      <ul>
        <li>1128+</li>
        <li>Succsessful Work</li>
      </ul>
      <ul>
        <li>908+</li>
        <li>Team members</li>
      </ul>
      <ul>
        <li>258+</li>
        <li>Happy Customers</li>
      </ul>
      <ul>
        <li>564+</li>
        <li>Creative Ideas</li>
      </ul>
    </div>
  </section>

  <Values color="gray" />

  <section class="content">
    <article class="cardlist">
      {
        employeeData.slice(0, 3).map((employee) => (
          <article class="employeecard">
            <img src={employee.img} alt="" />
            <div class="tag">
              <Tag color="black" tagContent={employee.title}>
                {" "}
              </Tag>
            </div>
            <h5>{employee.name}</h5>
            <p>{employee.description}</p>
            <div class="socials">
              <Icon name="instagram" />
              <Icon name="facebook" />
              <Icon name="twitter" />
            </div>
          </article>
        ))
      }
    </article>
  </section>
</MainLayout>

<style>
  section {
    img {
      border-radius: 20px;
    }
  }
  .stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    ul {
      list-style: none;

      li {
        color: var(--color-primary-03);
      }

      :first-child {
        font-size: var(--step-2);
        font-weight: 700;
      }
      :last-child {
        font-size: 18px;
      }
    }
  }
</style>

<style>
  .cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-m);
  }
  .employeecard {
    display: grid;
    text-align: center;
    transition: var(--hoverdefault);
    img {
      aspect-ratio: 1 / 1.15;
      object-fit: cover;
      border-radius: 20px;
    }
    img,
    .tag {
      grid-area: 1/1;
    }
    .tag {
      place-self: end;
      margin: var(--space-s);
    }
    h5,
    p {
      margin-top: var(--space-s);
    }
    .socials {
      display: flex;

      justify-content: center;
      gap: var(--space-s);

      margin-top: var(--space-s);
      > * {
        height: var(--step-1);
        width: var(--step-1);
      }
    }
  }
  .employeecard:hover {
    cursor: pointer;
    translate: var(--hover);
    transition: var(--hovertrans);
  }
</style>
