---
import HeadComponent from "../components/HeadComponent.astro";
import MainLayout from "../layouts/MainLayout.astro";
MainLayout;
---

<MainLayout>
  <HeadComponent img="/public/images/about.png" headline="Creative Services For Boost Your Business Growth" tagContent="SERVICES" />
  <section></section>
</MainLayout>
