---
import HeadComponent from "../components/HeadComponent.astro";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Values from "../components/Values.astro";
import { Icon } from "astro-icon/components";

const employeeData = await fetch("https://raw.githubusercontent.com/snotbroder/frontend-design/main/resources/json/employees.json").then((res) => res.json());
---

<MainLayout>
  <HeadComponent img="/public/images/about.png" headline="Creative Services For Boost Your Business Growth" tagContent="SERVICES" />
  <section class="content">
    <Tag color="green" tagContent="OUR VISION" />
    <div class="grid1-1">
      <div class="txtcontent">
        <h3>Turn your ideas into reality.</h3>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <ul class="check-list">
          <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
          <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
      </div>
      <div class="imgcontainer">
        <img src="/public/images/teamwork.png" alt="" />
      </div>
    </div>
    <div class="stats">
      <ul>
        <li>1128+</li>
        <li>Succsessful Work</li>
      </ul>
      <ul>
        <li>908+</li>
        <li>Team members</li>
      </ul>
      <ul>
        <li>258+</li>
        <li>Happy Customers</li>
      </ul>
      <ul>
        <li>564+</li>
        <li>Creative Ideas</li>
      </ul>
    </div>
  </section>

  <Values color="gray" />

  <section class="content">
    <Tag tagContent="OUR TEAM" />
    <div class="grid2-1">
      <div>
        <h2>We champion the bold to achieve the extraordinary</h2>
        <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.</p>
      </div>
    </div>
    <article class="cardlist">
      {
        employeeData.slice(0, 3).map((employee) => (
          <article class="employeecard">
            <img src={employee.img} alt="" />
            <div class="tag">
              <Tag color="black" tagContent={employee.title}>
                {" "}
              </Tag>
            </div>
            <h5>{employee.name}</h5>
            <p>{employee.description}</p>
            <div class="socials">
              <Icon name="instagram" />
              <Icon name="facebook" />
              <Icon name="twitter" />
            </div>
          </article>
        ))
      }
    </article>
  </section>
  <section class="content">
    <div class="accordionwrapper">
      <Tag color="green" tagContent="FAQ" />
      <h2>Customer Questions</h2>
      <div class="accordion">
        <details open class="detail" name="1">
          <summary class="sum">What will happen when I’ve sent my application?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>

        <details class="detail" name="1">
          <summary>Can I get a free trial before I purchase?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>

        <details class="detail" name="1">
          <summary>What should I include in my personal statement?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>

        <details class="detail" name="1">
          <summary>Will membership plans be charged automatically?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>

        <details class="detail" name="1">
          <summary>What will happen when I’ve sent my application?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>

        <details class="detail" name="1">
          <summary>Can I get a free trial before I purchase?</summary>
          <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        </details>
      </div>
    </div>
  </section>
</MainLayout>
<style>
  .accordionwrapper {
    background-color: var(--color-secondary-01);
    padding: var(--space-xlarge-s);
    text-align: center;
    border-radius: 30px;

    details {
      text-align: left;
      list-style: none;
      position: relative;
      transition: var(--hoverdefault);
      border-bottom: 0.5px var(--color-secondary-03) solid;
      padding: var(--space-m);
      padding-left: 0;
    }
    summary {
      list-style: none;
      font-weight: 600;
      font-family: "Cabin";
      &::after {
        content: "";
        background-color: var(--color-primary-03);
        width: 1rem;
        height: 0.1rem;
        position: absolute;
        top: 50%;
        right: 0;
        transition: var(--hoverdefault);
      }
    }
    details[open].detail > summary::after {
      transform: rotate(-90deg);
      transition: var(--hovertrans);
      top: 20%;
    }
    details[open].detail {
      /* translate: 0 10%; */
      transition: var(--hovertrans);
      opacity: 1;
    }
  }
</style>
<style>
  section {
    img {
      border-radius: 20px;
    }
  }
  .stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    ul {
      list-style: none;

      li {
        color: var(--color-primary-03);
      }

      :first-child {
        font-size: var(--step-2);
        font-weight: 700;
      }
      :last-child {
        font-size: 18px;
      }
    }
  }
</style>

<style>
  .cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-m);
  }
  .employeecard {
    display: grid;
    text-align: center;
    transition: var(--hoverdefault);
    img {
      aspect-ratio: 1 / 1.15;
      object-fit: cover;
      border-radius: 20px;
    }
    img,
    .tag {
      grid-area: 1/1;
    }
    .tag {
      place-self: end;
      margin: var(--space-s);
    }
    h5,
    p {
      margin-top: var(--space-s);
    }
    .socials {
      display: flex;

      justify-content: center;
      gap: var(--space-s);

      margin-top: var(--space-s);
      > * {
        height: var(--step-1);
        width: var(--step-1);
      }
    }
  }
  .employeecard:hover {
    cursor: pointer;
    translate: var(--hover);
    transition: var(--hovertrans);
  }
</style>
