---
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import Tag from "../components/Tag.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import { cardContent } from "../js/card-content.js";



---

<MainLayout sitetitle="Home">
  <div class="hero full ">
    <div class="herobg full">
      <div></div>
      <img src="/public/images/sarah.png" alt="Sarah Jasmine, CEO" />
    </div>
    <article class="feature herotext">
      <h1 >Adam Buschemia Business Consultant</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, labore.</p>
    </article>
  </div>
  <section class="content">
    <div class="sect2-wrapper">

      <div class="sect2-img">
        <img src="/public/images/meeting.png" alt="people in meeting">
      </div>
      <div class="sect2-txt"><Tag color="" tagContent="WE'LL WORK WITH YOU" />
      <h3>What To Expect</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos exercitationem doloribus ipsa deserunt rem saepe fugiat error eius animi culpa, aperiam ipsum hic quo reprehenderit asperiores possimus! Molestiae debitis sequi expedita quibusdam aperiam! Voluptates sed aliquam architecto porro repudiandae!</p>
    <ul class="check-list">
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, est!</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
    </ul>
      </div>
    </div>

  </section>
<section class=" sect-3-wrapper">
  <div class="sect-3txt">
    <h2>Financial Projections</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

  <div class="sect-3cards full">
  <ScrollingContainer cardContent={cardContent}/></div>
</section>
  <div class="feature">
    <h1>HEADING 1</h1>
    <h2>HEADING 2</h2>
    <h3>HEADING 3</h3>
    <h4>HEADING 4</h4>
    <h5>HEADING 5</h5>
    <h6>HEADING 6</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quidem?</p>
  </div>

  <section  class="content">
	<article >
    <Tag color="" tagContent="this is a tag" />
    <h1>HEADING 1</h1>
    <h2>HEADING 2</h2>
    <h3>HEADING 3</h3>
    <h4>HEADING 4</h4>
    <h5>HEADING 5</h5>
    <h6>HEADING 6</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quidem?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus ipsum molestias quibusdam ratione cupiditate consequuntur velit, reprehenderit, cumque totam eum obcaecati eligendi nesciunt modi voluptas rem at blanditiis, officiis explicabo. Laborum harum quisquam neque, sint, voluptates eveniet, sequi quaerat quidem quod vero modi et fugiat placeat! Aut consequuntur sint voluptatum?</p>
  </article>
</section>
</MainLayout>
<style>
    .sect-3-wrapper {
      
    /* grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr; */
    background: var(--color-secondary-01);
    display: subgrid;
    grid-column: full;

    :first-child {

      grid-column: 2;
    }

    :last-child {
      > * {
      }
    }
  }

</style>
<style>
  .sect2-wrapper{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap:  82px;

    .sect2-img{
      ::after {
    content: '';
    height: inherit;
    aspect-ratio: 1;
    border-radius: inherit;
    background: #4EAF4E;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform-origin: right top;
  }
      img{
        border-radius: 30px;
        position: relative;
    
      /* ::after{
        width: 20%;
        background-color: var(--color-primary-03);
        content: '';
        position: absolute;
        top: -1rem;
      } */
    }}
  


  }
</style>
<style>
  .hero {
    /* height: 30rem; */
    display: grid;
  }
  .herobg,
  .herotext {
    grid-area: 1/1;
  }
  .herobg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    > :first-child {
      background: var(--color-primary-03);
      aspect-ratio: 1.5 / 1;
    }
    :nth-child(2) {
      object-fit: cover;
      aspect-ratio: 1.5 / 1;
    }
  }
  .herotext {
    display: subgrid;
    grid-column: feature;

    p,
    h1 {
      color: var(--color-secondary-02);
    }


</style>
