---
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import Tag from "../components/Tag.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import { cardContent } from "../js/card-content.js";
import Values from "../components/Values.astro";

import PiechartContainer from "../components/PiechartContainer.astro";
import PieChart from "../components/PieChart.astro";




---

<MainLayout sitetitle="Home">
  <div class="hero full ">
    <div class="herobg full">
      <div></div>
      <img src="/public/images/sarah.png" alt="Sarah Jasmine, CEO" />
    </div>
    <article class="feature herotext">
      <h1 >Adam Buschemia Business Consultant</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, labore.</p>
    </article>
  </div>
  <section class="content">
    <div class="sect2-wrapper grid1-1">

      <div class="sect2-img">
        <img src="/public/images/meeting.png" alt="people in meeting">
      </div>
      <div class="sect2-txt"><Tag color="" tagContent="WE'LL WORK WITH YOU" />
      <h3>What To Expect</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos exercitationem doloribus ipsa deserunt rem saepe fugiat error eius animi culpa, aperiam ipsum hic quo reprehenderit asperiores possimus! Molestiae debitis sequi expedita quibusdam aperiam! Voluptates sed aliquam architecto porro repudiandae!</p>
    <ul class="check-list">
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, est!</li>
      <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
    </ul>
      </div>
    </div>

  </section>
<section class="sect-3-wrapper ">
<div class="sect-3-content ">
    <div class="sect-3txt ">
    <Icon name="financialProjections"></Icon>
    <h2>Financial Projections</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  <div class="buttons">
    <div class="button"><Icon name="arrowRound"></Icon></div>
    <div class="button"><Icon name="arrowRight"></Icon></div>
  </div>
</div>
</div>
  <ScrollingContainer cardContent={cardContent}/>

</section>
<PiechartContainer>
<PieChart percent="85" headline="Consistency"> </PieChart>
<PieChart percent="95" headline="Improvement"> </PieChart>
<PieChart percent="90" headline="Branching"> </PieChart>
</PiechartContainer>
<Values color="black" />


  <section class="sect-5">
	<article >
    <Tag color="" tagContent="PROCCESS" />
<div class="grid1-2">
  <div class="sect-5-txt">
    <h2>Contact Us. It's Easy.</h2>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
    <div class="contact">
      <div class="contactitem">
        <Icon name="phone"></Icon>
        <div class="contactinfo"><p>Call Today</p>
        <h6>+1 800 100 900</h6></div>
      </div>

      <div class="contactitem">
        <Icon name="clock"></Icon>
        <div class="contactinfo"><p>Monday To Friday</p>
        <h6>9AM - 5PM</h6></div>
      </div>

      <div class="contactitem">
        <Icon name="location"></Icon>
        <div class="contactinfo"><p>USA Office</p>
        <h6>195 Devonshire St Boston, MA 02110</h6>
      </div>
      </div>
    </div>
   </div>
   <div class="sect-5-images">
    <img src="/public/images/person1.png" alt="Person sitting in chair holding book">
    <img src="/public/images/twopeoplearguing.png" alt="Two people sitting at table discussing">
    <img src="/public/images//aVeryViolentFight.png" alt="Two people explining with their hands">
   </div>
  </div>
   
  </article>
</section>
</MainLayout>
<style>
  .sect-3-wrapper{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    .sect-3-content{
      grid-column: content;
        .sect-3txt{
          *{
            margin-bottom: var(--space-2xs);
          }

     :first-child{
      width: 5rem;
     }
    } 
    .buttons{
      display: flex;
      
  
    }
 
  }
</style>
<style>
  .sect-5{
    grid-column: content;
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-l);

  margin-top: var(--space-m);
 
}
    .contactitem{
      display: flex;
      gap: var(--space-xs);
      :first-child{
        width: 3rem;
      }
      .contactinfo{
   
        :first-child{
          display: inline;
        }
       
      }
    }
    
  }
  .sect-5-images{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr 1fr;
      gap:  var(--space-xs) ;
      img{
        border-radius: 20px;
        object-fit: cover;
      }
      :first-child{
        grid-column: 1;
        grid-row: 1 /3;
   

      }
      :last-child{
        grid-column: 2 /-1;
        grid-row: 2 / 3;
        margin-top: auto;
      }
    }
</style>
<style>
    .sect-3-wrapper {
      
    /* grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr; */
    background: var(--color-secondary-01);
    display: subgrid;
    grid-column: full;

    :first-child {

      grid-column: 2;
    }

    :last-child {
      > * {
      }
    }
  }

</style>
<style>
  .sect2-wrapper{
    /* display: grid;
    grid-template-columns: 3fr 2fr; */
 

    .sect2-img{
      ::after {
    content: '';
    height: inherit;
    aspect-ratio: 1;
    border-radius: inherit;
    background: #4EAF4E;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform-origin: right top;
  }
      img{
        border-radius: 30px;
        position: relative;
    
      /* ::after{
        width: 20%;
        background-color: var(--color-primary-03);
        content: '';
        position: absolute;
        top: -1rem;
      } */
    }}
  


  }
</style>
<style>
  .hero {
    /* height: 30rem; */
    display: grid;
  }
  .herobg,
  .herotext {
    grid-area: 1/1;
  }
  .herobg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    > :first-child {
      background: var(--color-primary-03);
      aspect-ratio: 1.5 / 1;
    }
    :nth-child(2) {
      object-fit: cover;
      aspect-ratio: 1.5 / 1;
    }
  }
  .herotext {
    display: subgrid;
    grid-column: feature;

    p,
    h1 {
      color: var(--color-secondary-02);
    }


</style>
