---
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import Tag from "../components/Tag.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import { cardContent } from "../js/card-content.js";
import Values from "../components/Values.astro";

import PiechartContainer from "../components/PiechartContainer.astro";
import PieChart from "../components/PieChart.astro";
import Btn from "../components/Btn.astro";




---

<MainLayout sitetitle="Home">
  <div class="hero full ">
    <div class="herobg grid1-1">
      <div class="box"></div>
      <img src="/public/images/sarah.png" alt="Sarah Jasmine, CEO" />
    </div>
    <div class="txtarea grid1-1">
    <article class="herotext">
      <h1 >Adam Buschemia Business Consultant</h1>
      <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
      <Btn type="btn3" link="#contact" content="Book a Meeting" > </Btn>
    </article>
    <article><h1></h1></article>
</div>
    <style>
      .hero {
        display: grid;
        grid-template-columns: subgrid;
      }
      .herobg,
     .txtarea  {
        grid-area: 1/1;
      }

      .txtarea{
        padding-top: var(--space-l);
        grid-column: content;
      }
      .herobg {
        display: grid;
        gap: 0;
        grid-column: full;
        
        height: 100%;
        padding-bottom: var(--space-xl);
        > :first-child {
        min-width: auto;  
        background: var(--color-primary-03);
        z-index: -10;
        }
        @media screen and (min-width: 800px) {
           .box::before {
    --square-count: 12;
    --square-size: 1.34rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: 1;
    content: '';
    position: absolute;
    top: 12rem;
    left: -6rem;
    /* inset: 0 2rem auto auto; */
 
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);

  }
  /* disabled */
  box::after {
    --square-count: 12;
    --square-size: 1.34rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: 0;
    content: '';
    position: absolute;
    top: 0rem;
    left: 44rem;
    /* inset: 0 2rem auto auto; */
 
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);

  }
        }

        :nth-child(2) {
          object-fit: cover;
          aspect-ratio: 1.5 / 1;
        }
      }
      .herotext {
        backdrop-filter: blur(4px);
        > *{
          margin-bottom: var(--space-m);
        }
        p,
        h1 {
          color: var(--color-secondary-02);
        }

    </style>
  </div>
  <section class="sect-1 content">
<article class="darkcard">
  <h5>Finance & Restructuring</h5>
<p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
<Btn type="btn1" content="Our services"></Btn> 
</article>

<article class="darkcard">
  <h5>Our Approach</h5>
<p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
<Btn type="btn1" event="about" content="More About"></Btn> 
</article>

<article class="darkcard">
  <h5>Consultalk Result</h5>
<p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
<Btn type="btn1"  content="Explore Our Solution"></Btn> 
</article>
  </section>

  <section class="content">
    <div class="sect2-wrapper grid1-1">

      <figure class="sect2-img">
        <img src="/public/images/meeting.png" alt="people in meeting">
      </figure>
      <div class="sect2-txt"><Tag color="" tagContent="WE'LL WORK WITH YOU" />
      <h3>What To Expect</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos exercitationem doloribus ipsa deserunt rem saepe fugiat error eius animi culpa, aperiam ipsum hic quo reprehenderit asperiores possimus! Molestiae debitis sequi expedita quibusdam aperiam! Voluptates sed aliquam architecto porro repudiandae!</p>
    <ul class="check-list">
      <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
      <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
    </ul>
      </div>
    </div>

  </section>
<section class="sect-3-wrapper ">
<div class="sect-3-content ">
    <div class="sect-3txt ">
    <Icon name="financialProjections"></Icon>
    <h2>Financial Projections</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  <div class="buttons">
    <div class="button"><Icon name="arrowRound"></Icon></div>
    <div class="button"><Icon name="arrowRound"></Icon></div>
  </div>
</div>
</div>
  <ScrollingContainer cardContent={cardContent}/>

</section>
<PiechartContainer>
<PieChart percent="85" headline="Consistency"> </PieChart>
<PieChart percent="95" headline="Improvement"> </PieChart>
<PieChart percent="90" headline="Branching"> </PieChart>
</PiechartContainer>
<Values color="black" />


  <section id="contact" class="sect-5">
	<article >
    <Tag color="" tagContent="PROCCESS" />
<div class="grid1-2">
  <div class="sect-5-txt">
    <h2>Contact Us. It's Easy.</h2>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
    <div class="contact">
      <div class="contactitem">
        <Icon name="phone"></Icon>
        <div class="contactinfo"><p>Call Today</p>
        <h6>+1 800 100 900</h6></div>
      </div>

      <div class="contactitem">
        <Icon name="clock"></Icon>
        <div class="contactinfo"><p>Monday To Friday</p>
        <h6>9AM - 5PM</h6></div>
      </div>

      <div class="contactitem">
        <Icon name="location"></Icon>
        <div class="contactinfo"><p>USA Office</p>
        <h6>195 Devonshire St Boston, MA 02110</h6>
      </div>
      </div>
    </div>
   </div>
   <div class="sect-5-images">
    <img src="/public/images/person1.png" alt="Person sitting in chair holding book">
    <img src="/public/images/twopeoplearguing.png" alt="Two people sitting at table discussing">
    <img src="/public/images//aVeryViolentFight.png" alt="Two people explining with their hands">
   </div>
  </div>
   
  </article>
</section>
</MainLayout>
<style>
  .sect-1{
    display: flex;
  
    gap: var(--space-xs);
    padding: 0;
    /* margin-top: -7rem; */
    margin-top: -10rem;
   
    article{ 
      margin-top: 0;
      padding: var(--space-m);
       border-radius: 20px;
      background:rgba(38, 38, 38, 0.90); ;
      border: var(--color-secondary-03) solid 1px;
      backdrop-filter: blur(16px);
      h5,p{
     color: var(--color-secondary-02);   
     margin-bottom: var(--space-s);
      }
      
      :last-child{
        margin-top: var(--space-2xs);

      }
      
    }
  
    @media screen and (max-width: 800px) {
      margin-top: var(--space-m);
      flex-direction: column;
  
      article{
        width: 25rem;
        margin: auto;
      }
    }
  }
    </style>
<style>
  .sect-3-wrapper{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    .sect-3-content{
      grid-column: content;
        .sect-3txt{
          *{
            margin-bottom: var(--space-2xs);
          }

     :first-child{
      width: 5rem;
     }
    } 
    .buttons{
      display: flex;
      gap: var(--space-2xs);
      :nth-child(2){
        /* rotate: 180deg; */
      }
      
  > *{
    width: 3rem;
    transition: var(--hoverdefault);
    &:hover{
      transition: var(--hovertrans);
      filter: invert(87%) sepia(85%) saturate(5315%) hue-rotate(318deg) brightness(101%) contrast(101%);
  }
    }
 
  }
</style>
<style>
  .sect-5{
    grid-column: content;
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-l);

  margin-top: var(--space-m);
 
}
    .contactitem{
      display: flex;
      gap: var(--space-xs);
      :first-child{
        width: 3rem;
      }
      .contactinfo{
   
        :first-child{
          display: inline;
        }
       
      }
    }
    
  }
  .sect-5-images{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr 1fr;
      gap:  var(--space-xs) ;
      img{
        border-radius: 20px;
        object-fit: cover;
      }
      :first-child{
        grid-column: 1;
        grid-row: 1 /3;
   

      }
      :last-child{
        grid-column: 2 /-1;
        grid-row: 2 / 3;
        margin-top: auto;
      }
    }
</style>
<style>
    .sect-3-wrapper {
      
    /* grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr; */
    background: var(--color-secondary-01);
    display: subgrid;
    grid-column: full;

    :first-child {

      grid-column: 2;
    }

    :last-child {
      > * {
      }
    }
  }

</style>
<style>
  .sect2-wrapper{
    /* display: grid;
    grid-template-columns: 3fr 2fr; */
 

    figure {
  position: relative;
  display: grid;
  img{
    border-radius: 30px;
  
   place-self: end;
    width: 30rem;
  }
  
  /* prikker */
  &::before {
    --square-count: 12;
    --square-size: 1.34rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    /* inset: 0 2rem auto auto; */
 
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);

  }
 
  /* grøn boks */
  &::after {
    content: '';
    position: absolute;
    left: -5%;
    top: 12%;
    background: var(--color-primary-02);
    width: 150px;
    height: 120px;
    border-radius: 20px;
    z-index: -1;
  }
}
  


  }
</style>

