---
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
const employeeData = await fetch("https://raw.githubusercontent.com/snotbroder/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());
console.log(employeeData);
---

<MainLayout sitetitle="Home" />
<h1>HEADING 1</h1>
<h2>HEADING 2</h2>
<h3>HEADING 3</h3>
<h4>HEADING 4</h4>
<h5>HEADING 5</h5>
<h6>HEADING 6</h6>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, quidem?</p>

<ul>
  <li>HEEEEEYYY</li>
  <li>HEEJJJJJJ</li>
</ul>
<ol><li>HEEEEyy</li></ol>

<style>
  .iconwrapper {
    width: 10%;
  }
  .content > * {
    grid-column: content;
  }
  .feature {
    grid-column: feature;
  }
  .full {
    grid-column: full;
  }
</style>
