---
const { type, content, event, popovertarget } = Astro.props;
---

<button popovertarget={popovertarget} onclick={event} class={type}> {content} </button>

<style>
  .btn2 {
    border-radius: 50px;
    padding: var(--space-3xs) var(--space-xs);
    height: fit-content;
    border: var(--color-primary-01) 2px solid;
    background: var(--color-primary-01);
    color: var(--color-primary-03);
    font-size: var(--step-0);
    font-family: "Lato", sans-serif;
    &:hover {
      border: var(--color-primary-03) 2px solid;
      background: var(--color-primary-03);
      color: var(--color-secondary-02);
    }
  }
  .btn1 {
    border-radius: 50px;
    padding: var(--space-3xs) var(--space-xs);
    height: fit-content;
    border: var(--color-primary-03) 2px solid;
    background: var(--color-primary-03);
    color: var(--color-secondary-01);
    font-size: var(--step-0);
    font-family: "Lato", sans-serif;
    &:hover {
      background: transparent;
      color: var(--color-primary-03);
    }
  }
</style>
