---

---

<button class="btn1">
  <p>BUTTON TEXT</p>
</button>

<style>
  .btn1 {
    border-radius: 50px;
    padding: 0.5rem 2rem;
    border: var(--color-primary-03) 2px solid;
    background: var(--color-primary-03);
    color: var(--color-secondary-01);
    &:hover {
      background: transparent;
      color: var(--color-primary-03);
    }
  }
</style>
