---

---

<button class="btn2">
  <p>BUTTON TEXT</p>
</button>

<style>
  .btn2 {
    border-radius: 50px;
    padding: var(--space-3xs) var(--space-2xs);
    border: var(--color-primary-01) 2px solid;
    background: var(--color-primary-01);
    color: var(--color-primary-03);
    &:hover {
      border: var(--color-primary-03) 2px solid;
      background: var(--color-primary-03);
      p {
        color: var(--color-secondary-02);
      }
    }
    p {
      font-size: var(--step--2);
    }
  }
</style>
