---
import Btn from "./Btn.astro";
---

<div class="menu">
  <a href="index.html"><h4>AskExperts</h4></a>

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Case Study</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">About</a></li>
  </ul>

  <Btn popovertarget="popovertarget" type="btn2" content="LOGIN" />
</div>

<style>
  .menu {
    grid-column: full;
    display: flex;
    justify-content: space-evenly;
    background: var(--color-primary-03);
    color: var(--color-secondary-01);
    padding: 1rem;

    h4 {
      color: var(--color-secondary-02);
      margin-top: auto;
      margin-bottom: auto;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
    }
    :nth-child(3) {
      margin-top: auto;
      margin-bottom: auto;
    }
    a {
      color: var(--color-secondary-02);
      text-decoration: none;
      &:hover {
        color: var(--color-primary-01);
      }
    }
  }
</style>
