---
import Btn from "./Btn.astro";
---

<div class="menu">
  <a href="/"><h4>AskExperts</h4></a>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/case">Case Study</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/about">About</a></li>
  </ul>

  <Btn popovertarget="popovertarget" type="btn2" content="LOGIN" />
</div>

<style>
  .menu {
    grid-column: full;
    display: flex;
    justify-content: space-evenly;
    background: var(--color-primary-03);
    color: var(--color-secondary-01);
    padding: 1rem;

    a {
      margin-top: auto;
      margin-bottom: auto;
      h4 {
        color: var(--color-secondary-02);
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 2rem;
    }
    :nth-child(3) {
      margin-top: auto;
      margin-bottom: auto;
    }
    a {
      color: var(--color-secondary-02);
      text-decoration: none;
      transition: var(--hoverdefault);
      &:hover {
        color: var(--color-primary-01);
        transition: var(--hovertrans);
      }
    }
    @media (width < 600px) {
      justify-content: space-between;
      ul {
        display: none;
      }
    }
  }
</style>
