---
import Tag from "./Tag.astro";

const { tagContent, headline, img } = Astro.props;
---

<div class="head-wrapper full">
  <div class="container">
    <img class="full" src={img} alt="" />

    <div class="txtcontainer content">
      <Tag tagContent={tagContent} />
      <h1>{headline}</h1>
    </div>
  </div>
</div>
<style>
  .head-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
  }

  .container {
    place-items: center left;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
  }
  img {
    object-fit: cover;
    min-height: 20rem;
  }
  img,
  .txtcontainer {
    grid-area: 1/1;
  }
  .txtcontainer {
    background: var(--color-secondary-01-70);
    padding: var(--space-l);
    border-radius: 20px;

    backdrop-filter: blur(4px);
    grid-column: content;

    :last-child {
      margin-top: var(--space-s);
      max-width: 20ch;
    }
  }
</style>
