---
const { percent, headline } = Astro.props;
---

<div class="piechart-wrapper">
  <div class="parent" style=`--percent: ${percent}%`>
    <h2>{percent}%</h2>
    <div class="child"></div>
  </div>

  <h6>{headline}</h6>
</div>

<style>
  .parent {
    aspect-ratio: 1;
    width: 150px;
    border-radius: 1e5px;
  }

  .parent {
    --offset-pos: 5px;
    /*animation: --pie 3s linear infinite;*/
    border: var(--offset-pos) solid transparent;
    background:
      linear-gradient(var(--color-primary-01), var(--color-primary-01)) padding-box,
      conic-gradient(var(--color-secondary-02) var(--percent), #daae3c 0) border-box;
    position: relative;
    h2 {
      position: relative;
      top: 30%;
      left: 20%;
    }

    .child {
      aspect-ratio: 1;
      border-radius: 99px;
      width: 16px;
      background: var(--color-primary-03);
      outline: solid var(--color-secondary-02) 5px;
      position: absolute;
      offset-path: border-box;
      offset-distance: var(--percent);
      offset-anchor: 50% calc(50% - var(--offset-pos) / 2);
      filter: drop-shadow(0px 8px 8px #c2a04a);
    }
  }
  .piechart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      margin-top: var(--space-s);
    }
  }
</style>
