---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
const { cardContent, iconsrc } = Astro.props;
---

<ul class="full">
  <li>
    <Icon name="sheet" />
    <h4>The Balance Sheet</h4>
    <p>The Balance Sheet is a summary of the assets and liabilities and equity of a business at a specific point of time.</p>
  </li>

  <li>
    <Icon name="credit" />
    <h4>Income Statement</h4>
    <p>The Income (Profit and Loss) Statement, commonly referred to as the P&L statement, summarizes the revenue and expenses for a specific time period (one month, one quarter, one year, etc.)</p>
  </li>

  <li>
    <Icon name="bank" />
    <h4>Financial Plan</h4>
    <p>Keep your information current and review the documents on a regular basis (monthly or more often if needed). Review them with key individuals within your company.</p>
  </li>

  <li>
    <Icon name="currency" />
    <h4>Financial Ratios</h4>
    <p>Ratios are useful when comparing your company with the competition on financial performance and also when benchmarking the performance of your company.</p>
  </li>

  <li>
    <Icon name="sheet" />
    <h4>The Balance Sheet</h4>
    <p>The Balance Sheet is a summary of the assets and liabilities and equity of a business at a specific point of time.</p>
  </li>
</ul>

<style>
  ul {
    /* --content: minmax(0.5rem, 65ch); */

    list-style: none;
    display: flex;
    gap: var(--space-m);
    grid-column: full;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    > :first-child {
      margin-left: var(--space-xlarge-s);
    }
    > :last-child {
      margin-right: var(--space-xlarge-s);
    }
  }
  /* padding-inline: max(1rem, 50% - var(--content) / 2); */

  li {
    min-width: 23rem;
    height: fit-content;
    scroll-snap-align: center;
    background: var(--color-secondary-04);
    padding: var(--space-l);
    border-radius: 20px;
    transition: var(--hoverdefault);
    :first-child {
      width: 2rem;
      margin-bottom: var(--space-s);
    }
    :nth-child(2) {
      margin-bottom: var(--space-2xs);
    }

    p {
      color: var(--card-text-color);
    }
    &:hover {
      background: var(--color-primary-03);
      transition: var(--hovertrans);
      color: var(--color-secondary-02);
      :first-child {
        filter: invert(87%) sepia(85%) saturate(5315%) hue-rotate(318deg) brightness(101%) contrast(101%);
      }
      h4 {
        transition: var(--hovertrans);
        color: var(--color-secondary-02);
      }
    }
  }
</style>

<!--     

    --content-width: 50rem;
    --card-padding: 2.75rem 2.1875rem;
    --card-gap: 1rem;
    --card-border-radius: 8px;
    --card-background: #ebebeb;
    --card-text-color: #595566;
    
    -->
