---
import "../styles/reset.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Popover from "../components/Popover.astro";

const { sitetitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{sitetitle}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <Header />
    <Popover />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- {
      employeeData.map((employee) => (
        <div>
          <h2>{employee.name}</h2>
          <p>{employee.title}</p>
        </div>
      ))
    } -->
  </body>
</html>

<style>
  body {
    display: grid;
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(1rem, 1fr);
    --content: minmax(0.5rem, 65ch);
    --feature: 100%;

    @media (min-width: 900px) {
      --gap: clamp(1rem, 6vw, 3rem);
      --full: minmax(1rem, 1fr);
      --content: minmax(0, var(--gap));
      --feature: minmax(0.5rem, 65ch);
    }

    grid-template-columns:
      [full-start] var(--full)
      [content-start] var(--content)
      [feature] var(--feature)
      var(--content) [content-end]
      var(--full) [full-end];
    align-items: start;

    /* .content {
      grid: auto / subgrid;
      grid-column: content;
    } */

    /* > *, * > .full {
    grid-column: full;
    display: inherit;
    grid: auto / subgrid;

    > :not(& .feature) {
      grid-column: content;
    } */
  }

  main {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    /* margin-top: 10rem;
    margin-bottom: 10rem; */

    .content {
      grid-column: content;
    }
    .feature {
      grid-column: feature;
    }
    .full {
      grid-column: full;
    }
  }
  /* .content > * {
    grid-column: content;
  }
  .feature {
    grid-column: feature;
  }
  .full {
    grid-column: full;
  }*/
</style>
